mixin insect(name, num, team, color)
    .col-md-2
        button.btn.btn-secondary.drop(class=color data-insect=name class=team data-num=num)
            span.badge.badge-primary.badge.badge-secondary= num
            = name

mixin drops
    .container-fluid
        .row
            .button-group.button-block
                each val, key in {"ANT": 3, "BEETLE": 2, "GRASSHOPPER": 3, "SPIDER": 2, "BEE": 1}
                    +insect(key, val, "BLACK", "btn-success")
        .row
            .button-group.button-block
                each val, key in {"ANT": 3, "BEETLE": 2, "GRASSHOPPER": 3, "SPIDER": 2, "BEE": 1}
                    +insect(key, val, "WHITE", "btn-danger")
