mixin insect(name, num, team, color)
    li.list-group-item
        button.btn.btn-secondary.drop(data-insect=name class=team class=color data-num=num)
            span.badge.badge-primary.badge.badge-secondary= num
            = name

mixin drops
    ul.list-group.list-group-horizontal
        each team, color in {"BLACK": "btn-success", "WHITE": "btn-danger"}
            each val, key in {"ANT": 3, "BEETLE": 2, "GRASSHOPPER": 3, "SPIDER": 2, "BEE": 1}
                +insect(key, val, team, color)

